<section class="orders ">
    <div class="container mx-auto pt-5">
          <h1 class="font-weight-bold">All Orders</h1>
       
        
          <table class="table mt-5 table-bordered">
             <thead>
                 <tr>
                    <th>Orders</th>
                    <th>Customer</th>
                    <th>address</th>
                    <th>status</th>
                    <th>placedat</th>
                    <th>address</th>
                 </tr>
             </thead>
             <tbody id="orderTableBody">
                
                
             </tbody>
          </table>
    </div>
</section>